/* Brandon Thompson Portfolio Assignment */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  
  body {    /*image not working correctly*/
    background-image: url("../SD_Portfolio/assets/developer_background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vh;
    opacity: 0.9;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20px;
  }
  .name{
    color: white;
    width: 1400px;
    height: 150px;
  }
  
  .about-section{
    color: white;
    text-align: left;
  }
  
  .projects-section{
    color:  #4285F4;
    text-align: left;
  }
  
  .contact-title{
    color: white;
  }
  
  #contact-text{
    color: white;
  }
  
  .row0{
    width: 1400px;
    height: 50px;
  }
  
  .row1{
    width: 1400px;
    height: 20px;
  }
  
  .row2{
    width: 1400px;
    height: 500px;
  }
  
  .row3{
    width: 1200px;
    height: 60px;
  }
  
  #projects{
    width: 5px;
    height: 5px;
  }
  
  #creature_assignment{
    text-align: center;
    width:350px;
    height:350px;
  }
  
  #business_challenge{
    text-align: center;
    width:350px;
    height:350px;
  }
  
  #blue_badge{
    text-align: center;
    width:200px;
    height:400px;
  }
  
  #red_badge{
    text-align: center;
    width: 200px;
    height: 400px;
  }
  
  a
  {
    background-color: #4285F4;
    font-size: 10px;
  }
  
  .footer {
    margin-top: 420px;
    color: white;
    text-align: center;
    padding: 10px;
    min-width: 100vw;
    position: sticky;
    border:none;
    background-image: url("../SD_Portfolio/assets/developer_background.jpg"); 
  }
  
  #projects {
     color:  white;
     height: 10px;
     width: 10px;
  }
  
  .nav-justified {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .nav-justified > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: 700;
    color: rgb(0, 47, 255);
    text-align: center;
    background-color: #e5e5e5; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffff", endColorstr="#fffff", GradientType=0); /* IE6-9 */
    background-repeat: repeat-x; /* Repeat the gradient */
    border-bottom: 1px solid #d5d5d5;
  }
  .nav-justified > .active > a,
  .nav-justified > .active > a:hover,
  .nav-justified > .active > a:focus {
    background-color:#ddd;  
    background-image: none;
    -webkit-box-shadow: inset 0 3px 7px rgb(0, 0, 0, .15);
    box-shadow: inset 0 3px 7px rgba(236, 230, 230, 0.15);
  }
  .nav-justified > li:first-child > a {
    border-radius: 5px 5px 0 0;
  }
  .nav-justified > li:last-child > a {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
  }
  
  #btn btn-primary
  {
    background-color: #4285F4
  }
  
  #contact_label
  {
    
    color: #4285F4
  }
  
  #contact_form_div #contact_label
  {
   margin:5px;
   margin-bottom:5px;
   font-size:5px;
   font-weight:bold;
   color: clear;
   text-decoration:underline;
   color: blue;
  }
  
  #contact_form_div input[type="text"]
  {
   width:230px;
   height:40px;
   border-radius:2px;
   font-size:17px;
   padding-left:5px;
   border:none;
  }
  #contact_form_div textarea
  {
   width:230px;
   height:70px;
   border-radius:2px;
   font-size:17px;
   padding: 5px;
  }
  
  @media only screen and (min-width:700px) and (max-width:995px)
  {
   #wrapper
   {
    width:100%;
   }
   #wrapper h1
   {
    font-size:30px;
   }
   #contact_form_div
   {
    width:50%;
    margin-left:25%;
    padding-left:0px;
    padding-right:0px;
   }
   #contact_form_div input[type="text"]
   {
    width:80%;
   }
   #contact_form_div textarea
   {
    width:80%;
   }
  }
  @media only screen and (min-width:400px) and (max-width:699px)
  {
   
   #wrapper
   {
    width:100%;
   }
   #wrapper h1
   {
    font-size:25px;
   }
   #contact_form_div
   {
    width:90%;
    margin-left:5%;
    padding-left:0px;
    padding-right:0px;
   }
   #contact_form_div input[type="text"]
   {
    width:80%;
   }
   #contact_form_div textarea
   {
    width:80%;
   }
  }
  
  @media (min-width: 768px) {
    .nav-justified {
      max-height: 52px;
    }
    .nav-justified > li > a {
      border-right: 1px solid #d5d5d5;
      border-left: 1px solid #fff;
    }
    .nav-justified > li:first-child > a {
      border-left: 0;
      border-radius: 5px 0 0 5px;
    }
    .nav-justified > li:last-child > a {
      border-right: 0;
      border-radius: 0 5px 5px 0;
    }
  }
  
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer 
    {
      position: right;
      background-color: white;
      padding-right: 0;
      padding-left: 0;
    }
  }